params {
    meta               = "$baseDir/config/meta.tsv"  // Input meta tsv file
    pretrained_model   = "$baseDir/data/pretrained_hg19_12l"  // Pretrained methylbert model
    batch_size         = 256
    epoch              = 10
    outdir             = "$baseDir/results"  // Output directory
}

process {
    executor = 'slurm'

    withName: 'data_preprocess' {
        container  = "$baseDir/images/base.sif"
        cpus       = 32
        memory     = 64.GB
        time       = 24.h
        queue      = 'cn-long'
    }

    withName: 'methylbert_finetune' {
        container      = "$baseDir/images/methylbert_v2.0.1.sif"
        //cpus       = 64
        //memory     = 128.GB
        //time       = 24.h
        //queue      = 'cn-long'
        cpus           = 52
        memory         = 480.GB
        time           = 72.h
        queue          = 'gpu_l40'
        clusterOptions = '--gres=gpu:4'
    }

    withName: 'methylbert_deconvolution' {
        container      = "$baseDir/images/methylbert_v2.0.1.sif"
        //cpus       = 64
        //memory     = 128.GB
        //time       = 24.h
        //queue      = 'cn-long'
        cpus           = 52
        memory         = 480.GB
        time           = 72.h
        queue          = 'gpu_l40'
        clusterOptions = '--gres=gpu:4'
        publishDir = [
            path : { "${params.outdir}" },
            mode : 'copy'
        ]
    }
}

profiles {
    singularity {
        singularity.enabled    = true
        singularity.autoMounts = true
        singularity.runOptions = "-B /lustre1,/lustre2 --nv"
    }
}