params {
    // Resources
    ft_gpus                      = 4
}

process {
    withName: 'FINETUNE' {
        container      = "$baseDir/images/methylbert_v2.0.2.sif"
        cpus           = 64
        memory         = 256.GB
        queue          = 'gpu_a800'
        clusterOptions = "--gres=gpu:${params.ft_gpus}"
    }
}